<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.hanbatang.mapper.MemberMapper">

<insert id="insertMember" parameterType="com.hanbatang.dto.Member">

 INSERT INTO member(member_id, member_name, member_age, member_phone)
                    <!-- DB에 저장된 컬럼명 -->
 VALUES (memger_seq.NEXTVAL, #{memberName}, #{memberAge},#{memberPhone})


</insert>







</mapper>