<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>한바탕 회원가입</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMUdi9f8F+ri3oE5pXG5sfnPrvTrN0V6+86pZC6" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="hanbatang" src="/images/hanbatang.css"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
        <div class="justify-content-center">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" href="#">매장안내</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">회사소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">소고기정보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">고객센터</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">회원가입</a>
          </li>
        </ul>
    </div>
      <div class="search">
        <form class="d-flex float-right" role="search">
            <button class="btn btn-outline" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg></button>
            
          <input class="form-control me-2" type="search" placeholder="검색" aria-label="Search">
        
          <a class="signin" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="20" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg></a>
          <a  href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="20" fill="black" class="bi bi-cart4" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
          </svg></a>
        </form>
      </div>
      </div>
    </div>
  </nav>

  <div class="sign-enter">
    <h1>회원가입</h1>
    <div class="sign-form">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="text" id="userId" placeholder="아이디">
      </div>
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" id="userPw" placeholder="비밀번호(하이픈없이기재하세요)">
      </div>
      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="text" id="nickName" placeholder="닉네임">
      </div>
    </div>
    <div class="sign-form2">
      <div class="input-group">
        <i class="fas fa-user-tag"></i>
        <input type="email" id="userEmail" placeholder="이메일">
      </div>
      <div class="input-group">
        <i class="fas fa-calendar-alt"></i>
        <input type="text" id="userName" placeholder="이름">
      </div>
      <div class="input-group">
        <i class="fas fa-calendar-alt"></i>
        <input type="text" id="userSsn" placeholder="주민등록번호(하이픈없이기재하세요)">
      </div>
      <div class="input-group">
        <i class="fas fa-phone"></i>
        <input type="text" id="userPhone" placeholder="휴대전화번호">
      </div>
      <div class="input-group">
        <i class="fas fa-phone"></i>
        <input type="text" id="userAdd" placeholder="주소">
      </div>


     
      <button onclick="이메일인증확인()">이메일인증</button>
      <button id="토글msg" onclick="이용약관확인()">이용약관확인</button>
      <div id="이미지">
      <p>한우프리미엄소고기 한바탕을 이용해주시는 고객님은
        아래의 약관을 준수해야 합니다. 회원 가입 시 개인 정보는 안전하게 보호되며, 
        무단 도용이나 악의적인 행위는 법적 조치를 받을 수 있습니다. 
        또한, 구매 후 교환 및 환불은 제품의 상태와 증빙 자료를 바탕으로 제한될 수 있습니다. 
        웹페이지 이용 중 불편사항은 고객센터를 통해 문의해 주세요.</p>
     </div>
      <button onclick="회원가입()">회원가입</button>
      

      </div>
    </div>
  </div>

  <script>
  function 이용약관확인(){
    $("#이미지").slideToggle("slow");

  }
  
  </script>

</body>
<footer class="footer mt-5">
  <div class="container text-center">
    <p>&copy;2024 브랜드 프리미엄소고기. ALL Rights Reserved.</p>
    <p><a href="#">개인정보처리방침</a> | <a href="#">이용약관</a></p>
  </div>
</footer>

</html>
