<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>로그인</title>
<link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
	<div class="container">
		<form>
			<div class="inputForm">
				<input type="text" placeholder="아이디" /> <br /> <input type="text"
					placeholder="비밀번호" /> <br />
			</div>
			<button>로그인</button>
		</form>
		<div class="optionBar">
			<span><a href="#">아이디 찾기</a></span> <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			<span><a href="#">비밀번호 찾기</a></span> <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			<span><a href="#">회원가입</a></span>
		</div>
	</div>
</body>
</html>
